:root {
    --menu-item-height: 6rem;
    --burnt-orange: #bf5700;
}

body {
    color: black;
    margin: 1rem;
}

.menu-item img {
    height: var(--menu-item-height);
    width: var(--menu-item-height);
    border-radius: 20px;
    object-fit: cover;
}

h2 {
    margin: 2rem auto;
    font-size: 2.5rem;
    text-align: center;
    color: var(--burnt-orange)
}

.menu-item {
    height: var(--menu-item-height);
    margin: 7rem 1rem;
    /* overflow: scroll; */
}

.description-box {
    min-height: calc(var(--menu-item-height) * (4/5));
}

.price-box {
    min-height: calc(var(--menu-item-height) * (1/5));
}
.food-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

.food-description {
    font-size: 1rem;
    color: #444;
}

button {
    border-radius: 20px;
    padding: 0 1rem;
    background-color: #ddd;
    color: black;
    border: 0.2rem outset var(--burnt-orange);
    box-shadow: -5px 5px 5px 0 #00000022;
}

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

.page-header {
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
}

.page-header img {
    height: 4rem;
    width: 4rem;
    display: inline-block;
    border-radius: 25px;
}

.page-header p {
    display: inline;
    margin: auto;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}